/*////////////////  MEDIA QUERIES ////////////////*/

/*@ media min-width:0px a max-width:575 xs*/ 


/*////---- P L A T A F O R M A ----\\\\*/
	
	.contenedorTarjetasEventos{
			width: 100%;
		    height: 100%;
		    position: relative;
		    margin-top: 2rem;
		    left: 0;
		    bottom: 0;
		    padding: 0 1rem;
		}

		.columnaTarjetas {
			-webkit-column-count:2;
			-moz-column-count:2;
			column-count:2;
			-webkit-column-gap:.5rem;
			-moz-column-gap:.5rem;
			column-gap:.5rem;
		}

		.tarjeta {
			display:inline-block;
			width:100%
		}

		.fechaEvento, .punto, .horaEvento, .sedeEvento, .organizadorEvento {
			display: none;
			font-size: 50%;
		}
		
	/* Menu Navegación */
		.menuNavegacionVertical {
			display: none;
		}
		
		.back {
			display: none;
		}

		.menuNavegacionApaisado {
			display: flex;
		}

/*////---- M O D A L ----\\\\*/
	.contenedor__modal{
	display: grid;
	grid-template-columns: 2rem auto 2rem;
	grid-template-rows: 2rem 1fr 1fr 2rem;
	}

	.imagenEvento__modal {
		grid-row:2 / 3;
		grid-column: 2 / 3;
		margin: 0;
	}

	.informacionEvento__modal{
		grid-row: 3 / 4;
		grid-column: 2 / 3;	
		margin: 0;
	}

/*////---- S U B E - T U  - E V E N T O  ----\\\\*/

	.formas__mediosDeComunicacion{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.correoWeb{
		grid-column: 1;
		grid-row: 1;
	}

	.facebook{
		grid-column: 1;
		grid-row: 2;
	}

	.formulario{
		grid-column: 1;
		grid-row: 3;
	}
	
	.medioDeComunicacion{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	}

		.imagen__medio{
			grid-column: 1/2;
			grid-row: 1/5;
			/*background: antiquewhite;*/
			display: flex;
		}
		
		.nombre__medio {
			grid-column: 2/3;
			grid-row: 1/2;
			/*background: blue;*/
		}

		.descripcion__medio{
			grid-column: 2/4;
			grid-row: 2/4;
			/*background: red;*/
		}

		.boton__medio{
			grid-column: 2/4;
			grid-row: 4;
			/*background: orange;*/
		}

	.formas, .sube, .tiempos {
		width: 100%;
		/*height: 80%;*/
	}

	/*///////// INICIO /////////*/
	/*///////// SUBE /////////*/
	/*///////// FORMAS /////////*/
		.medioDeComunicacion {
			text-align: left;
		}
	/*///////// TIEMPOS /////////*/

/*////---- L A N D I N G - P A G E  ----\\\\*/

	.flexBox__Column {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column;
			padding: 2rem 1rem;
	}

	.flexBox__Row {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column;
			padding: 2rem 1rem;
	}
	
	.inicio, .agora, .alfa, .descubre, 
	.explora, .comunica, .crea, .boletos, 
	.gotoAgora, .equipo, .pie {
		width: 100%;
	}
	
	/*.descubre, .explora, .comunica, .crea, .boletos {
		height: 80%;
	}*/


	.moduloIzq {
		width: 100%;
		text-align: center;	
	}

	.moduloDer{
		width: 100%;
		text-align: center;
	}	

	/* Inicio*/
		.inicio {
			height: 100%;
			margin-top: 2rem;
			text-align: center;
		}
		
		.inicio_imagen {
			display: none;
		}

		.inicio__informacion {	
			align-items: center;
			padding: 0;
		}

		.inicio--titulo {
			font-size: 2rem;
			font-weight: 400;
			line-height: 1.1;
		}

		.inicio--texto {
			font-size: 80%;
			margin-top: 1rem;
			font-weight: 300;
		}
	
	/* ágora */
		.agora--imagen {
			margin: .5rem;
			width: 90%;
		}
		
		.agora--texto {
			margin: .5rem;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.1;
		}

	/* Equipo */
	.equipo__tarjetas {
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		align-items: center;
	}

	.equipo__perfil {
		/*justify-content: space-between;*/
	}

	.equipo__imagen {
	}

	.descripcion__integrante {
		font-size: 80%;
	}
	
	/* Pie */
		.pie {
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			padding: .5rem;
		}

		.pie__dReservados{
			width: 80%;
			text-align: center;
			display: none;
		}

		.pie__logo{
			width: 80%;
		}

		.pie__redesSociales{
			width: 80%;
			text-align: center;
		}

/*sm*/
@media (min-width:576px)  {

/*////---- P L A T A F O R M A ----\\\\*/

	.columnaTarjetas {
			-webkit-column-count:3;
			-moz-column-count:3;
			column-count:3;
			-webkit-column-gap:.5rem;
			-moz-column-gap:.5rem;
			column-gap:.5rem;
		}

		.tarjeta {
			display:inline-block;
			width:100%
		}

/*////---- L A N D I N G - P A G E  ----\\\\*/
	.flexBox__Column {
			padding: 2rem;
	}

	.flexBox__Row {
			padding: 2rem;
	}


	/**Inicio*/
	.inicio__informacion {	
		padding: 0 1rem;
		text-align: center;
	}

	/*ágora*/
	.agora--imagen {
		margin: 2rem;
		width: 80%;
	}
	
	.agora--texto {
		margin: 1rem;
		font-size: 1.5rem;
	}

	/* Pie */

	.pie {
		flex-flow: row;
		justify-content: center;
		align-items: center;
		padding: 1rem;	
	}

	.pie__dReservados{
		width: 20%;
		text-align: left;
		display: initial;
	}

	.pie__logo{
		width: 50%;
	}

	.pie__redesSociales{
		width: 30%;
		text-align: right;
	}
}

/*md*/
@media (min-width:768px)  {

/*////---- P L A T A F O R M A ----\\\\*//*Cambio pPosición del Menú*/
	.contenedorTarjetasEventos{
			width: calc(100% - 3rem);
		    height: 100vh;
		    position: relative;
		    margin: 0;
		    left: 0;
		    bottom: initial;
		    padding: 1rem;
		}

		.columnaTarjetas {
			-webkit-column-count:4;
			-moz-column-count:4;
			column-count:4;
			-webkit-column-gap:.5rem;
			-moz-column-gap:.5rem;
			column-gap:.5rem;
		}

		.tarjeta {
			display:inline-block;
			width:100%
		}

		.fechaEvento, .punto, .horaEvento{
			display: inline-block;
			font-size: 70%
		}

		.sedeEvento {
			display: block;
			font-size: 70%;
		}
		
		.organizadorEvento {
			display: flex;
			font-size: 70%;
		}


	/* Menú Navegación */
		.menuNavegacionVertical {
			display: flex;
		}

		.back{
			display: flex;
		}

		.menuNavegacionApaisado {
			display: none;
		}

/*////---- M O D A L ----\\\\*/
	.contenedor__modal{
		grid-template-columns: 2rem 1fr 1fr 2rem;
		grid-template-rows: 2rem auto 2rem;
	}

	.imagenEvento__modal {
		grid-row: 2 / 3;
		grid-column: 2 / 3;

	}

	.informacionEvento__modal {
		grid-row: 2 / 3;
		grid-column: 3 / 4;
	}	
	
/*////---- S U B E - T U  - E V E N T O  ----\\\\*/
	
	.formas__mediosDeComunicacion{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}


	.correoWeb{
		grid-row: 1;
		grid-column: 1;
	}


	.facebook{
		grid-row: 1;
		grid-column: 2;
	}

	.formulario{
		grid-row: 1;
		grid-column: 3;
	}

	.medioDeComunicacion{
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto auto auto auto;
	}

		.imagen__medio{
			grid-column: 1;
			grid-row: 1;
			/*background: antiquewhite;*/
			display: flex;
		}
		
		.nombre__medio {
			grid-column: 1;
			grid-row: 2;
			/*background: blue;*/
		}

		.descripcion__medio {
			grid-column: 1;
			grid-row: 3;
			/*background: red;*/
		}

		.boton__medio{
			grid-column: 1;
			grid-row: 4;
			/*background: orange;*/
		}

	.formas, .sube, .tiempos {
		/*height: 80vh;*/
	}
	/*///////// INICIO /////////*/
	/*///////// SUBE /////////*/
	/*///////// FORMAS /////////*/
		.medioDeComunicacion {
			text-align: center;
		}
	/*///////// TIEMPOS /////////*/

/*////---- L A N D I N G - P A G E  ----\\\\*/
	.inicio, .agora, .alfa, .descubre, 
	.explora, .comunica, .crea, .boletos, 
	.gotoAgora, .equipo, .pie {
		width: calc(100% - 3rem);
	}
	
	/*.descubre, .explora, .comunica, .crea, .boletos {
		height: 80vh;
	}*/
	
	/*Inicio*/
		.inicio {
			width: 100%;
		}

		.inicio__informacion {	
			padding: 0 3rem;
		}

	/* ágora */
		.agora--imagen {
			margin: 2rem;
			width: 75%;
		}
		
		.agora--texto {
			margin: 1rem;
			font-size: 2.5rem;
			font-weight: 400;
			line-height: 1.1;
		}

	/* Pie */
		.pie {
			flex-flow: row;
			justify-content: center;
			align-items: center;
			padding: .5rem;	
		}

		.pie__dReservados{
			width: 20%;
			text-align: left;
		}

		.pie__logo{
			width: 50%;
		}

		.pie__redesSociales{
			width: 30%;
			text-align: right;
		}
}

/*lg*/
@media (min-width:992px)   {

/*////---- P L A T A F O R M A ----\\\\*/
	.columnaTarjetas {
			-webkit-column-count:4;
			-moz-column-count:4;
			column-count:4;
			-webkit-column-gap:.5rem;
			-moz-column-gap:.5rem;
			column-gap:.5rem;
		}
		
		.tarjeta {
			display:inline-block;
			width:100%
		}
		
		.organizadorEvento {
			display: flex;
			font-size: 80%;
		}

/*////---- L A N D I N G - P A G E  ----\\\\*/
	.flexBox__Column {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column;
			padding: 2rem 4rem;
	}

	.flexBox__Row {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: row;
			padding: 2rem 4rem;
	}
	
	.flexBox {
		flex-flow: row;
	}

	.moduloIzq {
		width: 50%;
		text-align: right;	
	}

	.moduloDer{
		width: 50%;
		text-align: left;
	}

	/* Inicio*/
		.inicio {
			height: 100vh;
			margin: 0;
		}

		.inicio__imagen {
			display: inline;
		}

		.inicio__informacion {	
			align-items: flex-start;
				
		}
		
		.inicio--titulo {
			font-size: 3.5rem;
			font-weight: 400;
			line-height: 1.1;
		}

		.inicio--texto {
			margin: .5rem 0;
			font-size: 1rem;
		}

	/* Equipo */
		.equipo__tarjetas {
			flex-flow: row;
			justify-content: center;
			align-items: flex-start;
		}

		.equipo__perfil {
			
		}
}

/*xl*/
@media (min-width:1200px)   {

/*////---- P L A T A F O R M A ----\\\\*/
	.columnaTarjetas {
			-webkit-column-count:5;
			-moz-column-count:5;
			column-count:5;
			-webkit-column-gap: .25rem;
			-moz-column-gap: .25rem;
			column-gap: .25rem;
		}
		
		.tarjeta {
			display:inline-block;
			width:100%
		}

/*////---- L A N D I N G - P A G E  ----\\\\*/
	
	
}