body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin: 0;

}

.contenedor {
	height: 100%;
	width: 90%;
	background-color: var(--blanco);
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
}

/*///////// INICIO /////////*/
.inicio {
	height: 100vh;
	
}

.linea {
	margin: 1rem 0;
	background-color: var(--claro);
	height: 1px;
	width: 100%;
}


/*///////// FORMAS /////////*/
.formas {
		background-color: var(--marfil);
	}

.formas_mediosDeComunicacion {
	
}

/*///////// SUBE /////////*/
.sube {
	background-color: var(--blanco);
}

.nombre__seccion {
	font-weight: 300;
	margin: 0 0 .5rem 0;
}

.subNombre__seccion {
	font-weight: 400;
	margin: 0 0 1rem 0;
}

.items__seccion {
	margin: .5rem 0 0 0; 
	font-weight: 200;
	font-size: 1.25rem;
}


.informacion__seccion {
	font-weight: 300;
	margin: 0 0 1rem 0;
	font-size: 90%;
}

/*///////// TIEMPOS /////////*/
.tiempos {
	background-color: var(--marfil);
}

/*///////// PIE /////////*/
.pie {
	color: var(--claro);
	background-color: var(--profundo);
}

.pie--subirTuEvento {
	width: 100%;
	height: 2rem;
}

.pie__logo{
	width: 50%;
	text-align: center;
}

/*///////// INICIO /////////*/

.volver{
  background-color: var(--blanco);
  color: var(--oxford);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 1;
  box-shadow: 0 1px 1px var(--tenueTransparente);   
  position: fixed;
  bottom: .5rem; 
  right: 1rem;
  z-index: 8;
  text-align: center;
}