* {
	/*border: 1px orange dashed;*/
}

/*////////////////  MENU  ////////////////*/

/*////////////////   TARJETAS  ////////////////*/

	.tarjeta__contenedor {
		position: relative;
		display: flex;
		flex-flow: column;
		background-color: #fff;
		border-radius: 0.25rem;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		margin: .5rem 0;
		padding: .5rem;
	}

	.tarjeta__contenedor:hover {
		animation: fondoTarjetaContenedor 0.25s linear forwards;
	}
	.tipoEvento {
		font-size: 60%;
		color: var(--tenue);
		text-align: right;
		margin: .5rem 0 0 0;
	}

	.tituloEvento {
		font-weight: 500;
	    color: var(--oxford);
	    font-size: 80%;
	    line-height: 1;
	}

	.fechaEvento, .horaEvento, .sedeEvento {
		font-weight: 300;
		line-height: 1;
	}

	.sedeEvento{
		margin-bottom: .5rem;
	}

	.organizadorEvento {
		width: 90%;
		color: var(--gris);
		line-height: 1;
	}

/*//////////////// AGREGAR EVENTO ////////////////*/

	.banner__enviaTuEvento{
		width: 100%;
		height: 2rem;
		background-color: var(--ahuesadoTransparente);
		border: 0;
		color: var(--tenue);
	    font-weight: 300;
	    letter-spacing: 2px;
	    font-size: 1rem;
	    line-height: 1;
	}

	.banner__enviaTuEvento:focus, .banner__enviaTuEvento:hover{
		color: var(--tenue);
	  	text-decoration: none;
	  	background-color: var(--marfil);
	  	outline: 0;
	 }

	.cerrar {
		position: fixed;
	    top: 2rem;
	    right: 2rem;
	    z-index: 41;
		border: 0;
	    color: var(--profundoTransparente);
	    background-color: transparent;
	    font-size: 50%;
	    font-size: 1.5rem;  
	}

	.cerrar:focus, .cerrar:hover {
		text-decoration: none;
	  	outline: 0;
	}

	.modal__enviaTuEvento{
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		background-color: var(--profundoTransparente);
		z-index: 40;
	}

/*////////////////  ANIMACIONES ////////////////*/

	@keyframes fondoTarjetaContenedor {
			0% {
			    background-color: var(--blanco);
			 }
			  
			 100% {
			    background-color: var(--ahuesadoTransparente);
			 }
			
		}






