*{
	/*border: 1px orange dashed;*/
}


/*////////////////  MENU  ////////////////*/

/*////////////////   TARJETAS  ////////////////*/

.tarjeta__contenedor {
	position: relative;
	display: flex;
	flex-flow: column;
	background-color: #fff;
	border-radius: 0.25rem;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	margin: .5rem 0;
	padding: .5rem;
}

.tarjeta__contenedor:hover{
	animation: back 0.25s linear forwards;
}

.tarjeta__imagen{
}


.imagen__evento{
	border-radius: 2px;
}

.tarjeta_informacion{}

.tipoEvento{
	font-size: 60%;
	color: var(--tenue);
	text-align: right;
	margin: .5rem 0 0 0;
}

.tituloEvento{
	font-weight: 500;
    color: var(--oxford);
    font-size: 80%;
    line-height: 1;
}

.fechaEvento, .horaEvento, .sedeEvento{
	font-weight: 300;
	line-height: 1;
}

.sedeEvento{
	margin-bottom: .5rem;
}

.organizadorEvento{
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid var(--marfil);
    padding: 1rem 0 .5rem 0;
    margin-top: 1rem;
}

.organizadorEvento__imgPerfil{
	border-radius: 40%;
	width: 1.5rem;
	height: 1.5rem;
	overflow: hidden;
}

.organizadorEvento__nombre{
	width: 90%;
	padding-left: 1rem;
	color: var(--gris);
	line-height: 1;
}


/*//////////////// AGREGAR EVENTO ////////////////*/

.banner__enviaTuEvento{
	width: 100%;
	height: 2rem;
	background-color: var(--ahuesadoTransparente);
}

.banner__enviaTuEvento--texto{
	color: var(--tenue);
    font-weight: 300;
    letter-spacing: 2px;
}

.banner__enviaTuEvento--texto:hover {
	color: var(--profundo);
	font-weight: 500;
}

.none {
	display: none;
}

.modal-active{
	overflow: hidden;
}

.cerrar {
	position: fixed;
    top: 0;
    right: 3rem;
    z-index: 41;
	width: 1.75rem;
	height: 1.75rem;
    color: white;
    background-color: var(--profundo);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-size: 50%;
    margin: 0;
}

.modal__enviaTuEvento{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background-color: var(--blanco);
	z-index: 40;
}

/*////////////////  ANIMACIONES ////////////////*/

@keyframes back {
		0% {
		    background-color: var(--blanco);
		 }
		  
		 100% {
		    background-color: var(--ahuesadoTransparente);
		 }
		
	}






