/*////////////////  MEDIA QUERIES ////////////////*/

/*@ media min-width:0px a max-width:575 xs*/ 

/*////---- P L A T A F O R M A ----\\\\*/
	
	.contenedorTarjetasEventos{
			width: 100%;
		    height: 100%;
		    position: relative;
		    margin-top: 1rem;
		    left: 0;
		    bottom: 0;
		    padding: 0 1rem;
		}

		.columnaTarjetas {
			-webkit-column-count:2;
			-moz-column-count:2;
			column-count:2;
			-webkit-column-gap:.5rem;
			-moz-column-gap:.5rem;
			column-gap:.5rem;
		}

		.tarjeta {
			display:inline-block;
			width:100%
		}

		.fechaEvento, .punto, .horaEvento, .sedeEvento, .organizadorEvento {
			display: none;
			font-size: 50%;
		}
		
	/* Menu Navegación */
		.menuNavegacion {
		  display: flex;
	      position: fixed;
	      width: 100%;
	      height: 2rem;
	      padding: 0 1rem;
	      justify-content: space-between;
	      align-items: center;
	      background-color: var(--blanco);
	      color: var(--oxford);
	      z-index: 9; 
	      border-bottom: 1px solid var(--ahuesado);
	      top: 0;
	      line-height: 1;
	    }

	    .menuNavegacion__home {
			display: none;
		}
		
		.menuNavegacion--logo {
		  display: initial;
		}

	    .menuNavegacion--ul {
	      display: none;
	    }

	/* Menu Navegación Extendida */
		.menuNavegacion__Extendida {
			position: fixed;
			right: 0;
			top: 2rem;
			width: 100%;
			height: auto;
			padding: .5rem 1rem;
			display: flex;
			flex-flow: column;
			justify-content: space-between;
			align-items: flex-start;
			background-color: var(--anaranjado);
			color: var(--blanco); 
			text-align: center;
			z-index: 9;
			opacity: 0;
			visibility: hidden;
			transition: opacity 1s, visibility 1s;
		}

		.extendida--activa {
			opacity: 1;
			visibility: visible;
			transition: opacity 1s, visibility 1s;
		}
		
		.menuNavegacionExtendida__home {
			display: none;
		}

		.menuNavegacionExtendida--ul {
	      list-style: none;
	      display: initial;
	      padding: 0;
	    }
		
	    .menuNavegacionExtendida--ul li {
	      margin: 1rem 0;
	    }
	
	/*BotonMenu*/
	    .botonMenu {
	      position: relative;
	      /*top: 1px;
	      right: 2%;*/
	      height: 1.5rem;
	      width: 1.5rem;
	      cursor: pointer;
	      /*z-index: 100;*/
	      /*-webkit-transition: opacity .25s ease;
	      transition: opacity .25s ease;*/
	      background: transparent;
	    }

	    .botonMenu:hover .botonMenu > span {
	      background:  var(--anaranjado);
	    }

	    .botonMenu.active .top {
	      -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
	              transform: translateY(10px) translateX(0) rotate(45deg);
	      background: var(--anaranjado);
	    }

	    .botonMenu.active .middle {
	      opacity: 0;
	    }

	    .botonMenu.active .bottom {
	      -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
	              transform: translateY(-10px) translateX(0) rotate(-45deg);
	      background: var(--anaranjado);
	      top: 24px;
	    }

	    .botonMenu span {
	      background: var(--profundo);
	      border: none;
	      height: 3px;
	      width: 100%;
	      position: absolute;
	      top: 4px;
	      left: 0;
	      -webkit-transition: all .35s ease;
	      transition: all .35s ease;
	      cursor: pointer;
	    }

	    .botonMenu span:nth-of-type(2) {
	    top: 12px;
	    }

	    .botonMenu span:nth-of-type(3) {
	    top: 20px;
	    }

	    /*.menuOverlay {
	      position: fixed;
	      background-color: var(--anaranjado);
	      left: 0;
	      width: 100%;
	      opacity: 1;
	      visibility: hidden;
	      -webkit-transition: opacity .35s, visibility .35s, width .35s;
	      transition: opacity .35s, visibility .35s, width .35s;
	      z-index: 8;
	      overflow: auto;
	      top: 2rem;
	    }*/


		/*Back*/
	    .back {
			display: none;
		}

/*sm*/
@media (min-width:576px)  {

/*////---- P L A T A F O R M A ----\\\\*/

	.columnaTarjetas {
			-webkit-column-count:3;
			-moz-column-count:3;
			column-count:3;
			-webkit-column-gap:.5rem;
			-moz-column-gap:.5rem;
			column-gap:.5rem;
		}

		.tarjeta {
			display:inline-block;
			width:100%
		}
}

/*md*//*Cambio pPosición del Menú*/
@media (min-width:768px)  {

/*////---- P L A T A F O R M A ----\\\\*/
	.contenedorTarjetasEventos{
			width: calc(100% - 3rem);
		    height: 100vh;
		    position: relative;
		    margin: 0;
		    left: 0;
		    bottom: initial;
		    padding: 1rem;
		}

		.columnaTarjetas {
			-webkit-column-count:4;
			-moz-column-count:4;
			column-count:4;
			-webkit-column-gap:.5rem;
			-moz-column-gap:.5rem;
			column-gap:.5rem;
		}

		.tarjeta {
			display:inline-block;
			width:100%
		}

		.fechaEvento, .punto, .horaEvento{
			display: inline-block;
			font-size: 70%
		}

		.sedeEvento {
			display: block;
			font-size: 70%;
		}
		
		.organizadorEvento {
			display: flex;
			font-size: 70%;
		}


	/* Menú Navegación */
		.menuNavegacion {
			display: flex;
			position: fixed;
			right: 0;
			width: 3rem;
			height: 100vh;
			padding: 1rem 0;
			flex-flow: column;
			justify-content: space-between;
			align-items: center;
			background-color: var(--blanco);
			color: var(--profundo); 
			text-align: center;
			border-left: 1px var(--claro) solid;
			top: 0;
			z-index: 9;
		}
		
		.menuNavegacion__home {
			display: initial;
		}
		
		.menuNavegacion--logo {
			display: none;
		}

		.menuNavegacion--ul {
	      list-style: none;
	      display: initial;
	      padding: 0;
	    }

	    .menuNavegacion--ul li {
	      margin: 1rem 0;
	    }
		
	    .icono--menu  {
	      color: var(--profundo);
	      width: 2rem;
	    }

		.icono--menu:focus, .icono--menu:hover {
	      color: var(--anaranjado);
	    }

	/* Menú Navegación Extendida */
		.menuNavegacion__Extendida {
			display: flex;
			position: fixed;
			right: 3rem;
			width: 16rem;
			height: 100vh;
			padding: 1rem 3rem;
			flex-flow: column;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			border-left: 1px var(--claro) solid;
			top: 0;
			z-index: 9;
		}

		.menuNavegacionExtendida__home {
			display: initial;
		}

	/*Back*/
		.icono--back  {
	      color: var(--profundo);
	      width: 2rem;
	    }

		.back{
			display: flex;
			background-color: var(--blanco);
			color: var(--oxford);
			border-radius: 50%;
			width: 2.5rem;
			height: 2.5rem;
			line-height: 1;
			box-shadow: 0 1px 1px var(--tenueTransparente);   
			position: fixed;
			bottom: .5rem; 
			right: 3.75rem;
			z-index: 8;
			text-align: center;
		}
}

/*lg*/
@media (min-width:992px)   {

/*////---- P L A T A F O R M A ----\\\\*/
	.columnaTarjetas {
			-webkit-column-count:4;
			-moz-column-count:4;
			column-count:4;
			-webkit-column-gap:.5rem;
			-moz-column-gap:.5rem;
			column-gap:.5rem;
		}
		
		.tarjeta {
			display:inline-block;
			width:100%
		}
		
		.organizadorEvento {
			display: flex;
			font-size: 80%;
		}
}

/*xl*/
@media (min-width:1200px)   {

/*////---- P L A T A F O R M A ----\\\\*/
	.columnaTarjetas {
			-webkit-column-count:5;
			-moz-column-count:5;
			column-count:5;
			-webkit-column-gap: .25rem;
			-moz-column-gap: .25rem;
			column-gap: .25rem;
		}
		
		.tarjeta {
			display:inline-block;
			width:100%
		}
	
}