* {
	/*border: 1px orange dashed;*/
	--artistico: rgba(0, 0, 0, 1);
	--deportivo: rgba(0, 0, 0, 1);
	--comercial: rgba(0, 0, 0, 1);
	--cultural: rgba(0, 196, 197, 1);
}

.artistico {
	color: var(--artistico);
}

.deportivo {
	color: var(--deportivo);
}

.comercial {
	color: var(--comercial);
}

.cultural {
	color: var(--cultural);
}

/*////////////////  MENU  ////////////////*/



	

/*////////////////   TARJETAS  ////////////////*/

	.tarjeta__contenedor {
		position: relative;
		/*display: flex;
		flex-flow: column;
		background-color: #fff;
		border-radius: 0.25rem;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		margin: .5rem 0;
		padding: .5rem;*/
	}
	
	.tarjeta__contenedor {
		display: grid;		
	}


	.tarjeta__contenedor:hover {
		animation: fondoTarjetaContenedor 0.25s linear forwards;
	}
	
	.fechaEvento, 
	.horaEvento {
		font-weight: 300;
		font-size: 80%;
	}

	.iconoTipo--tarjeta {
		font-size: 80%;
	}
	
	.imagenEvento {}

	.nombreEvento {
		font-weight: 800;
	    color: var(--oxford);
	}
	
	.descripcionEvento {
		font-weight: 300;
		font-size: 80%;
	}

	.sedeEvento {
		font-weight: 300;
		font-size: 80%;
	}

	.organizadorEvento {
		font-size: 80%;
		width: 80%;
	}

	.iconoRedes--tarjeta {
		font-size: 80%
	}

	.fechaEvento, 
	.iconoTipo--tarjeta,
	.imagenEvento,
	.nombreEvento,
	.descripcionEvento,
	.sedeEvento,
	.organizadorEvento,
	.iconoRedes--tarjeta {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-content: center;
		line-height: 1;
		padding: .25rem 0;
	}

/*//////////////// AGREGAR EVENTO ////////////////*/

	.banner__enviaTuEvento{
		width: 100%;
		height: 2rem;
		background-color: var(--ahuesadoTransparente);
		border: 0;
		color: var(--tenue);
	    font-weight: 300;
	    letter-spacing: 2px;
	    font-size: 1rem;
	    line-height: 1;
	}

	.banner__enviaTuEvento:focus, .banner__enviaTuEvento:hover{
		color: var(--tenue);
	  	text-decoration: none;
	  	background-color: var(--marfil);
	  	outline: 0;
	 }

	.cerrar {
		position: fixed;
	    top: 2rem;
	    right: 2rem;
	    z-index: 41;
		border: 0;
	    color: var(--profundoTransparente);
	    background-color: transparent;
	    font-size: 50%;
	    font-size: 1.5rem;  
	}

	.cerrar:focus, .cerrar:hover {
		text-decoration: none;
	  	outline: 0;
	}

	.modal__enviaTuEvento{
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		background-color: var(--profundoTransparente);
		z-index: 40;
	}

/*////////////////  ANIMACIONES ////////////////*/

	@keyframes fondoTarjetaContenedor {
			0% {
			    background-color: var(--blanco);
			 }
			  
			 100% {
			    background-color: var(--ahuesadoTransparente);
			 }
			
		}


