@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/* ---- ESTRUCTURA ---- */
.cubo {
	width: 4rem;
	height: 4rem;
	display: inline-block;
}

/* ======== Inicio ======== */
	.inicio {
		color: var(--profundo);
	}

	.inicio__imagen {	
	}

	.inicio__informacion {	
		text-align: right;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: flex-start;		
	}
	
	
	.linea {
		margin: 1rem 0;
		background-color: var(--claro);
		height: 1px;
		width: 100%;
	}

	.boton {
		padding: .5rem 1rem;
		border: 1px solid;
		border-radius: 4px;
		margin: 1rem 0;
		align-self: center;
		font-weight: 600;
		text-align: center;	
	}

	.naranja {
		border-color: var(--anaranjado);
		color: var(--anaranjado);
	}

	.naranja:hover {
		background-color: var(--anaranjado);
		color: var(--ahuesado);
	}



/* ======== ágora ======== */
	.agora {
		background-color: var(--anaranjado);
		color: var(--blanco);
		text-align: center;
	}


/* ======== Alfa ======== */
	.alfa {
		text-align: center;
		background-color: var(--oxford);
		color: var(--ahuesado);
		padding: 1rem;
	}


/* ======== Descubre ======== */
	.descubre {
		background-color: var(--blanco);
		
	}


/* ======== Explora ======== */
	.explora {
		background-color: var(--marfil);
	}
	
	.nombre__seccion {
		font-weight: 300;
		margin: 0 0 .5rem 0;
	}

	.subNombre__seccion {
		font-weight: 400;
		margin: 0 0 1rem 0;
	}

	.items__seccion {
		margin: .5rem 0 0 0; 
		font-weight: 200;
		font-size: 1.25rem;
	}
	
	.icon-buscar:before, .icon-categorias:before, .icon-fecha:before {
		font-size: 100;
		margin: 0 1rem 0 0;
		color: var(--oxford);
	}

	.informacion__seccion {
		font-weight: 300;
		margin: 0 0 1rem 0;
		font-size: 90%;
	}


/* ======== Comunica ======== */
	.comunica {
		background-color: var(--blanco);
		
	}


/* ======== Crea ======== */
	.crea {
		background-color: var(--marfil);
	}

	.icon-info:before {
		font-size: 60%;
		color: var(--oxford);

	}


/* ======== Boletos ======== */
	.boletos {
		background-color: var(--blanco);
		
	}
	
	.boletos__titulo{
		
	}

	.boletos__intro{

	}

	.boletos__info{

	}	

	.small{
		font-weight: 300;
	}


/* ======== Go To Agora ======== */
	.goToAgora {
		background-color: var(--anaranjado);
		text-align: center;

	}

	.blanco {
		border-color: var(--blanco);
		color: var(--blanco);
		width: 9rem;
	}

	.blanco:hover {
		background-color: var(--blanco);
		color: var(--anaranjado);
	}


/* ======== Equipo ======== */
	.equipo {
		background-color: var(--blanco);
	}
	
	.equipo__perfil {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-flow: column;
		padding: 2rem 0;
	}

	.equipo__marcoImagen {
		width: 90%;
	}
	
	.equipo__imagen{
		width: 100%;
		height: auto;/*
		border-radius: 4px;
		background-color: var(--ahuesado);*/
	}

	.nombre__integrante {
		margin: 1rem 0 0 0;
	}

	.descripcion__integrante{
		font-weight: 300;
		margin: .5rem 0;
		padding: 0 1rem 0 1rem;
	}

	.equipo__tags {
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.tag {
		padding: .25rem .5rem;
		border-radius: 4px;
		margin: .25rem;
		font-weight: 300;
		font-size: .8rem;
		color: var(--profundo);
		background-color: var(--ahuesado);
	}


/* ======== Pie ======== */
	.pie {
		color: var(--claro);
		background-color: var(--profundo);
	}
	
	.pie__dReservados{
		font-size: 50%;
		font-weight: 400;
		width: 20%;
	}

	.pie__logo{
		width: 50%;
		text-align: center;
	}

	.pie__redesSociales{
		width: 30%;
		
	}
		
	.pie__redesSociales--icono {
		text-align: center;
		margin: 0 .25rem;
		font-size: 80%;
	}




