/*////////////////  MEDIA QUERIES ////////////////*/

/*@ media min-width:0px a max-width:575 xs*/ 
	.equipo__tarjetas{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.jose{
		grid-column: 1;
		grid-row: 1;
	}

	.ingrid{
		grid-column: 1;
		grid-row: 2;
	}

	.kalollero{
		grid-column: 1;
		grid-row: 3;
	}
	
	.equipo__perfil{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		text-align: left;
	}

		.equipo__marcoImagen{
			grid-column: 1/2;
			grid-row: 1/5;
			/*background: antiquewhite;*/
			display: flex;
		}
		
		.nombre__integrante {
			grid-column: 2/3;
			grid-row: 1/2;
			/*background: blue;*/
		}

		.descripcion__integrante {
			grid-column: 2/4;
			grid-row: 2/4;
			/*background: red;*/
		}

		.tags__integrante{
			grid-column: 2/4;
			grid-row: 4;
			/*background: orange;*/
		}

		.redesSociales__integrante{
			grid-column: 3/4;
			grid-row: 1/2;
			/*background: purple;*/
		}

@media (min-width:768px)  {

/*////---- M O D A L ----\\\\*//*Cambio de Posición del Menú*/	

	.equipo__tarjetas{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}


	.jose{
		grid-row: 1;
		grid-column: 1;
	}


	.ingrid{
		grid-row: 1;
		grid-column: 2;
	}

	.kalollero{
		grid-row: 1;
		grid-column: 3;
	}

	.equipo__perfil{
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto auto auto auto;
		text-align: center;
	}

		.equipo__marcoImagen{
			grid-column: 1;
			grid-row: 1;
			/*background: antiquewhite;*/
			display: flex;
		}
		
		.nombre__integrante {
			grid-column: 1;
			grid-row: 2;
			/*background: blue;*/
		}

		.descripcion__integrante {
			grid-column: 1;
			grid-row: 3;
			/*background: red;*/
		}

		.tags__integrante{
			grid-column: 1;
			grid-row: 4;
			/*background: orange;*/
		}

		.redesSociales__integrante{
			grid-column: 1;
			grid-row: 5;
			/*background: purple;*/
		}
}