/*////////////////  MEDIA QUERIES ////////////////*/

/*@ media min-width:0px a max-width:575 xs*/ 
	.formas__mediosDeComunicacion{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.correoWeb{
		grid-column: 1;
		grid-row: 1;
	}

	.facebook{
		grid-column: 1;
		grid-row: 2;
	}

	.formulario{
		grid-column: 1;
		grid-row: 3;
	}
	
	.medioDeComunicacion{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	}

		.imagen__medio{
			grid-column: 1/2;
			grid-row: 1/5;
			background: antiquewhite;
			display: flex;
		}
		
		.nombre__medio {
			grid-column: 2/3;
			grid-row: 1/2;
			background: blue;
		}

		.descripcion__medio{
			grid-column: 2/4;
			grid-row: 2/4;
			background: red;
		}

		.boton__medio{
			grid-column: 2/4;
			grid-row: 4;
			background: orange;
		}

@media (min-width:768px)  {

/*////---- M O D A L ----\\\\*//*Cambio de Posición del Menú*/	

	.formas__mediosDeComunicacion{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}


	.correoWeb{
		grid-row: 1;
		grid-column: 1;
	}


	.facebook{
		grid-row: 1;
		grid-column: 2;
	}

	.formulario{
		grid-row: 1;
		grid-column: 3;
	}

	.medioDeComunicacion{
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto auto auto auto;
	}

		.imagen__medio{
			grid-column: 1;
			grid-row: 1;
			background: antiquewhite;
			display: flex;
		}
		
		.nombre__medio {
			grid-column: 1;
			grid-row: 2;
			background: blue;
		}

		.descripcion__medio {
			grid-column: 1;
			grid-row: 3;
			background: red;
		}

		.boton__medio{
			grid-column: 1;
			grid-row: 4;
			background: orange;
		}
}