<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="description" content="agora")
	meta(name="keywords" content="agora")
	meta(name="author" content="agora ink")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	
	//Facebook and Twitter
	meta(property="og:title" content="ágora")
	meta(property="og:image" content="")
	meta(property="og:url" content="")
	meta(property="og:site_name" content="ágora")
	meta(property="og:description" content="Descubre el próximo concierto cerca de ti o los horarios de la obra a la que deseas asistir; crea el espacio para el evento que organizas y que todos lo vean.")
	meta(name="twitter:title" content="ágora")
	meta(name="twitter:image" content="")
	meta(name="twitter:url" content="")
	meta(property="og:site_name" content="ágora")
	meta(property="twitter:description" content="Descubre el próximo concierto cerca de ti o los horarios de la obra a la que deseas asistir; crea el espacio para el evento que organizas y que todos lo vean.")
	
	// 
		//////////////////////////////////////////////////////
		ágora y Todos los Eventos, un mismo Lugar
		Diseño y Desarrollo by kalollero Marro.on 
    
		Website:    http://agoraink.com
		Email:      agoraink@outlook.com
		Facebook:   https://www.facebook.com/agoraink
		//////////////////////////////////////////////////////

	title ágora | Descubre el próximo concierto cerca de ti o los horarios de la obra a la que deseas asistir; crea el espacio para el evento que organizas y que todos lo vean
	
	//Icono Pestaña
	link(rel="icon" type="image/png" href="images/icon.png")
	
	//Icon Font
	link(href="font/styles.css" rel="stylesheet")
	
	//Roboto Font
	link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet")

	//Normalize
	link(href="css/normalize.css" rel="stylesheet")

	//Agora Style
	link(rel="stylesheet" href="css/agora.css")

	

body

	//Modal Crear
	div.modal__contenedor.modal__displayNone
		button.modal__cerrar#cerrar: i.icon-cerrar
		embed.modal__index(src="modalCrear.html")


	//Barra de Navegación
	nav.menuNavegacion
		div.menuNavegacion__home
			a(href="index.html"): i.icon-a-logo.icono--menu

		a.menuNavegacion__filtrar(title="Disponible en breve"): i#filtar.icon-filtrar.icon--bloqueado
		a.menuNavegacion__hemeroteca(title="Disponible en breve"): i#hemeroteca.icon-hemeroteca.icon--bloqueado
		a.menuNavegacion__sedes(title="Disponible en breve"): i#sedes.icon-sedes.icon--bloqueado
		a.menuNavegacion__crear(role="button"): i#crear.icon-crear.icono--menu

		div.menuNavegacion__botonMenu
			a(href="#nav" aria-label="Open Navigation")
				div.botonMenu#botonMenu 
					span.top
					span.middle
					span.bottom

	div#nav.menuNavegacionExtendida
		
		div.menuNavegacionExtendida__logo
			img.imagen-fluida(src="images/agora_logo_blanco.svg")

		a.menuNavegacionExtendida__filtrar(title="Disponible en breve")
			p.menuNavegacionExtendida__texto#filtar_ex Filtrar

		a.menuNavegacionExtendida__hemeroteca(title="Disponible en breve")
			p.menuNavegacionExtendida__texto#hemeroteca_ex Hemeroteca

		a.menuNavegacionExtendida__sedes(title="Disponible en breve")
			p.menuNavegacionExtendida__texto#sedes_ex Sedes

		a.menuNavegacionExtendida__crear
			p.menuNavegacionExtendida__texto#crear_ex Crear

		div.menuNavegacionExtendida__linea
			
		a.menuNavegacionExtendida__faseBeta(href="landingPage.html")
			p.menuNavegacionExtendida__texto#acerca_ex Acerca de ágora

		
	//Back
	a.back(href="#inicio"): i.icon-back.icono--menu

	//Contenedor Tarjetas
	div.contenedorTarjetasEventos
		
		//- para histor
		//- p.fechaColumnaTarjetas 15 de Septiembre 2017
		div.columnaTarjetas
				
			//Tarjeta
			div.tarjeta
				div.tarjeta__contenedor
					p.tarjeta__fechaEvento 9 Dic &middot 19H y 10 Dic &middot 12H
					div.tarjeta__tipoEvento(title="Concierto")
						a(href="https://www.facebook.com/events/146856892704398/" target="_blank"): i.icon-facebook
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/60/fd/07/60fd07ec4164c244c107889d9517afb8.jpg")
					div.tarjeta__linea
						div
					p.tarjeta__nombreEvento Concierto "Videojuegos y series"
					p.tarjeta__sedeEvento Sala de conciertos Tlaqná ~ Centro Cultural

			//Relleno
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 23 Nov al 13 Dic  
					div.tarjeta__tipoEvento(title="Exposición") 
						a(href='https://www.uv.mx/agenda/evento.html?area=1&evento=505' target='_blank'): i.icon-link 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/51/26/bf/5126bfef5a4994271acba36049c2ec8f.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento LIBRO OBJETO Exposición Colectiva del Instituto de Artes Plásticas 
					p.tarjeta__sedeEvento Galería AP | Unidad de Artes
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 8 Dic al 17 Dic &middot 17:30H 
					div.tarjeta__tipoEvento(title="Obra de Teatro") 
						a(href='https://www.facebook.com/TeatroLaCajaUV/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/3e/4f/c2/3e4fc254388139ce2edc97b4ac6b47c6.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Nube petróleo 
					p.tarjeta__sedeEvento Teatro la Caja
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 10 Dic &middot 13H 
					div.tarjeta__tipoEvento(title="Danza") 
						a(href='https://www.facebook.com/events/1543913519018231/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/4a/68/13/4a6813e14989e38d410497ae97eaf31c.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Récord La Bamba 
					p.tarjeta__sedeEvento Plaza Lerdo
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 10 Dic &middot 13H 
					div.tarjeta__tipoEvento(title="Concierto") 
						a(href='https://www.uv.mx/agenda/evento.html?area=1&evento=496' target='_blank'): i.icon-link 
					img.tarjeta__imagenEvento.imagen-fluida(src="-")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Dúo Delgado-Aragón 
					p.tarjeta__sedeEvento  Museo de Antropología | Auditorio
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 15 Dic &middot 20:30H y 16 Dic &middot 18H  
					div.tarjeta__tipoEvento(title="Concierto") 
						a(href='https://www.facebook.com/events/740904609446516/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/fb/86/35/fb86358bf4b72fd8aaae8d8285bac79e.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Concierto Navideño OSX 
					p.tarjeta__sedeEvento Sala de conciertos, Tlaqná, Centro Cultural
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 9 Dic &middot 17H yl 10 Dic &middot 20H  
					div.tarjeta__tipoEvento(title="Obra de Teatro") 
						a(href='https://www.uv.mx/agenda/evento.html?area=1&evento=554' target='_blank'): i.icon-link 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/e1/08/4b/e1084ba900a003a4633fe7010bdfb0dc.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento "Los tiempos de la peste"
					p.tarjeta__sedeEvento Foro Torre Lapham, Unidad de Artes
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 13 Dic &middot 22H 
					div.tarjeta__tipoEvento(title="Concierto") 
						a(href='https://www.facebook.com/events/1641876132536704/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento The last Jedi y Orquesta Filarmónica de Xalapa 
					p.tarjeta__sedeEvento Cinetix Plaza Zaragoza
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 16 Dic y 17 Dic &middot 9:30H 
					div.tarjeta__tipoEvento(title="Exposición") 
						a(href='https://www.facebook.com/events/151871202096501/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Animal Christmas Fest Xalapa 2017 
					p.tarjeta__sedeEvento Parque Doña Falla
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 21 Dic y 22 Dic &middot 9H 
					div.tarjeta__tipoEvento(title="Exposición") 
						a(href='https://www.facebook.com/events/185955398635319/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Expo Navidad 2017 
					p.tarjeta__sedeEvento Centro Recreativo Xalapeño
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 9 Dic y 10 Dic &middot 13H 
					div.tarjeta__tipoEvento(title="Obra de Teatro") 
						a(href='https://www.facebook.com/TeatroLaCajaUV/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/85/dc/cc/85dccc9e7bf77b5ed896afa0cb38db61.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento ¡ah que las hilachas! 
					p.tarjeta__sedeEvento Teatro la Caja
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 6 Dic Inuguración &middot 20H 
					div.tarjeta__tipoEvento(title="Exposición") 
						a(href='https://www.facebook.com/galeriarac/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/46/06/17/46061772bc218830e88db1259b43d7ca.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento El Ilustrador 
					p.tarjeta__sedeEvento Galeria Ramón Alva de la Canal
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 11 Dic &middot 18H 
					div.tarjeta__tipoEvento(title="Ciclo de Cine") 
						a(href='https://www.facebook.com/aulaclavijero.cineclubuv/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/54/76/35/547635d2f14269f039cfb5626e372440.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Laurence anyways y Xavier Dolan 
					p.tarjeta__sedeEvento Aula Clavijero
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 13 Dic &middot 18H 
					div.tarjeta__tipoEvento(title="Ciclo de Cine") 
						a(href='https://www.facebook.com/aulaclavijero.cineclubuv/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/54/76/35/547635d2f14269f039cfb5626e372440.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Tom en el Granero y Xavier Dolan 
					p.tarjeta__sedeEvento Aula Clavijero
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 14 Dic &middot 19:30H 
					div.tarjeta__tipoEvento(title="Concierto") 
						a(href='https://www.facebook.com/teatrodelestado.ivec/photos/a.1095505740481545.1073741826.195810903784371/1689329814432465/?type=3&theater' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/ab/25/9b/ab259b1359af2cba8dc1989e0bd427c8.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Rema Rema ~ Los Cojolites 
					p.tarjeta__sedeEvento Teatro del Estado | Sala Emilio Carballido
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 18 Dic y 22 Dic 
					div.tarjeta__tipoEvento(title="Obra de Teatro") 
						a(href='https://www.facebook.com/AgoraXalapa/photos/a.551143764971480.1073741830.117031855049342/1556537694432077/?type=3&theater' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/8f/02/42/8f0242badd41a3bde529160daf79dbcf.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Recorridos Escénicos Decembrinos 
					p.tarjeta__sedeEvento Ágora de la Ciudad
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 23 Nov al 11 Ene  
					div.tarjeta__tipoEvento(title="Exposición") 
						a(href='https://www.facebook.com/JardinDeLasEsculturas' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/cf/fc/d0/cffcd0652dbe1dedbfe5e15b8be5395a.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Fundadores 
					p.tarjeta__sedeEvento Jardín de las Esculturas
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 16 Dic y 17 Dic &middot 10H y 19H 
					div.tarjeta__tipoEvento(title="Feria") 
						a(href='https://www.facebook.com/events/380718062387598/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/b8/c8/3c/b8c83c58c8b5c348c7386e0fc3fa9d70.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Feria de la Cerámica 
					p.tarjeta__sedeEvento Jardín de las Esculturas
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 14 Dic &middot 19H 
					div.tarjeta__tipoEvento(title="Exposición") 
						a(href='https://www.facebook.com/events/160198184498241/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/08/d3/b4/08d3b4e12fc50559560e3a42f3bb3508.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Huésped 
					p.tarjeta__sedeEvento Galeria de Arte Contemporáneo Xalapa
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 15 Dic y 23 Dic &middot 18H, 19H y 20H 
					div.tarjeta__tipoEvento(title="Obra de Teatro") 
						a(href='http://mix.org.mx/?page_id=1439' target='_blank'): i.icon-link 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/4a/d0/73/4ad073d9a9c05cebad267e8c722e9572.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Por el Sendero de la Estrella 
					p.tarjeta__sedeEvento MIX | Museo Interactivo de Xalapa
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 16 Dic &middot 13H, 16H y 18H 
					div.tarjeta__tipoEvento(title="Obra de Teatro") 
						a(href='https://www.facebook.com/COCO-Xalapa-1762790934017728/?hc_ref=ARRWEFjFlns8QxNBgqXjLtkHyoPDS2KnbJ8bPxXvbHHc1k7A1QaNVpTvdEoolOmeLMo' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/35/d4/b9/35d4b92691cb324ad7b9c6bd5804aa5c.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Obra de Teatro COCO 
					p.tarjeta__sedeEvento IMAC | Iniciativa Municipal de Arte y Cultura
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 15 Dic &middot 11H y 21H 
					div.tarjeta__tipoEvento(title="Feria") 
						a(href='https://www.facebook.com/events/577494652593829/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/95/38/b2/9538b2edee7627cf138921b5db67dfb6.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Tienda amable de 1 día 
					p.tarjeta__sedeEvento Librería Los Argonautas
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 15 Dic &middot 17H 
					div.tarjeta__tipoEvento(title="Cata") 
						a(href='https://www.facebook.com/events/1566426823435555/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/ed/35/d5/ed35d577c7e9527bc77c5e03f7616805.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Cata n.3 (Mezcal, Sotol y Churique con Sotol) 
					p.tarjeta__sedeEvento El Tin-Tan Mezcalería
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 16 Dic &middot 21:30H 
					div.tarjeta__tipoEvento(title="Concierto") 
						a(href='https://www.facebook.com/events/371511166631310/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/48/6e/e4/486ee49e0ec66fe5c8bb9da903f4202d.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento La Lumbre y Tlacuatzin Son Huasteco 
					p.tarjeta__sedeEvento Café Teatro Tierra Luna
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 10 Dic &middot 13:30H 
					div.tarjeta__tipoEvento(title="Concierto") 
						a(href='https://www.facebook.com/events/131026340924471/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/64/de/f9/64def9eeb201a33af22d3e0311fde9a9.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Recital de Guitarra y Joahan Omar Ramírez Portilla 
					p.tarjeta__sedeEvento Casa de la Cultura de Coatepec
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 9 Dic y 11 Dic &middot 19:30H 
					div.tarjeta__tipoEvento(title="Obra de Teatro") 
						a(href='https://www.facebook.com/events/1588517607870083/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/4b/69/63/4b696389eaba8d8150607d18acc26ec0.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Andarse por las Ramas de Elena Garro 
					p.tarjeta__sedeEvento Centro Recreativo Xalapeño | Foro Guadalupe Balderas
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 9 Dic &middot 21H 
					div.tarjeta__tipoEvento(title="Concierto") 
						a(href='https://www.facebook.com/events/1771306952879753/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/bc/bc/4b/bcbc4bf07fd98d56c2c8369269c761aa.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Croqueville Fest 
					p.tarjeta__sedeEvento Rockville
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 9 Dic y 10 Dic &middot 10H y 18H 
					div.tarjeta__tipoEvento(title="Feria")
						a(href='https://www.facebook.com/events/1673599092704812/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/c1/1b/38/c11b38867b040e89894c252c42ac481a.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Patio Artesanal Xalapeño | 4a Edición 
					p.tarjeta__sedeEvento Parque Doña Falla
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 17 Dic &middot 10H y 20H 
					div.tarjeta__tipoEvento(title="Feria") 
						a(href='https://www.facebook.com/events/139261953398218/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/bf/7b/a0/bf7ba048e2a54907312c78c1144705b4.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Mercado Vivo Navideño 
					p.tarjeta__sedeEvento Salón SUM
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 16 Dic &middot 11H y 17H 
					div.tarjeta__tipoEvento(title="Bazar") 
						a(href='https://www.facebook.com/events/152990955319244/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/2e/c0/c1/2ec0c1a3d9b11e3a86002be049d61a6f.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Bazar de Niños Productores | 3a Edición 
					p.tarjeta__sedeEvento El Taller Xalapa
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 8 Dic y 17 Dic  
					div.tarjeta__tipoEvento(title="Pastorela") 
						a(href='https://www.facebook.com/events/136012997163654/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="-")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Pastorela Bailemos Pastores 
					p.tarjeta__sedeEvento Escuela Industrial "Concepción Quirós Pérez"
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 15 Dic &middot 20:30H y 22H 
					div.tarjeta__tipoEvento(title="Obra de Teatro") 
						a(href='https://www.facebook.com/events/498384073880337/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/2b/fa/8c/2bfa8c19d3f2cd997ecc31f35e493f20.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Zoológica Bestiario escénico para una actriz, títeres y objetos 
					p.tarjeta__sedeEvento Área 51 Foro Teatral
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 7 Dic y 10 Dic  
					div.tarjeta__tipoEvento(title="Obra de Teatro") 
						a(href='https://www.facebook.com/events/170489303544309/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="-")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Humo de Abraham Oceransky 
					p.tarjeta__sedeEvento Teatro La Libertad
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 13 Dic &middot 20:30H y 21:40H 
					div.tarjeta__tipoEvento(title="Obra de Teatro") 
						a(href='https://www.facebook.com/events/1760978157536740/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/3e/59/9b/3e599bb404428fafc7175f16a2c2c4c8.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento 533. Dólares Americanos 
					p.tarjeta__sedeEvento Área 51 Foro Teatral
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 15 Dic y 5 Ene &middot 19H y 21H 
					div.tarjeta__tipoEvento(title="Cuenta Cuentos") 
						a(href='https://www.facebook.com/events/1651407048251373/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/31/4c/74/314c74d0e8d204cd093845b569a15309.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento ¡Al Diablo la Navidad! con Iván Zepeda Valdés 
					p.tarjeta__sedeEvento Casa Malincha
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 15 Dic &middot 20:30H y 22H 
					div.tarjeta__tipoEvento(title="Obra de Teatro") 
						a(href='https://www.facebook.com/events/157631028183964/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/e9/e7/b5/e9e7b5baa162166eb889d0b59472d5ba.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Ik Dietrick Fon 
					p.tarjeta__sedeEvento Área 51 Foro Teatral
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 8 Dic &middot 20:30H y 9 Dic y 10 Dic &middot 19:30H  
					div.tarjeta__tipoEvento(title="Obra de Teatro") 
						a(href='https://www.facebook.com/events/225527597987527/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/a3/ea/b4/a3eab468e9604334ff847b62871992dd.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Fucktheworld 
					p.tarjeta__sedeEvento Área 51 Foro Teatral
			//Tarjeta 
			div.tarjeta 
				div.tarjeta__contenedor 
					p.tarjeta__fechaEvento 12 Dic &middot 20:30H 
					div.tarjeta__tipoEvento(title="Obra de Teatro") 
						a(href='https://www.facebook.com/events/527699600926716/' target='_blank'): i.icon-facebook 
					img.tarjeta__imagenEvento.imagen-fluida(src="https://i.pinimg.com/564x/66/bf/18/66bf18745b92d32e59e4ffd9e62b82b2.jpg")
					div.tarjeta__linea 
						div 
					p.tarjeta__nombreEvento Satisfaction 
					p.tarjeta__sedeEvento Área 51 Foro Teatral


						

	script(src="js/jquery-3.2.1.min.js")

	script(type="text/javascript").
	
		$(document).ready(function(){
			$("#botonMenu").click(function(){
				$(this).toggleClass("active");
				$("#nav").toggleClass("nav--activo");
				$(".menuNavegacion__sedes, .menuNavegacion__filtrar, .menuNavegacion__hemeroteca, .menuNavegacion__crear").toggleClass("displayVisible");
			});
			

			$("#crear, #crear_ex").click(function(){
			  	$(".modal__contenedor").removeClass("modal__displayNone");
			  	$("body").addClass("modal__activo");
			});

			$("#cerrar").click(function(){
			 	$(".modal__contenedor").addClass("modal__displayNone");
			  	$("body").removeAttr("class");
			});

			var menuNavegacionExtendida = $("#sedes, #sedes_ex, #filtar, #filtar_ex, #hemeroteca, #hemeroteca_ex, #crear, #crear_ex, #acerca_ex");
			
			$(menuNavegacionExtendida).click(function(){
				$("#botonMenu").toggleClass("active");
				$("#nav").toggleClass("nav--activo");
				$(".menuNavegacion__sedes, .menuNavegacion__filtrar, .menuNavegacion__hemeroteca, .menuNavegacion__crear").toggleClass("displayVisible");
			});
		});