<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="description" content="agora")
	meta(name="keywords" content="agora")
	meta(name="author" content="agora ink")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	
	//Facebook and Twitter
	meta(property="og:title" content="ágora")
	meta(property="og:image" content="")
	meta(property="og:url" content="")
	meta(property="og:site_name" content="ágora")
	meta(property="og:description" content="Descubre el próximo concierto cerca de ti o los horarios de la obra a la que deseas asistir; crea el espacio para el evento que organizas y que todos lo vean.")
	meta(name="twitter:title" content="ágora")
	meta(name="twitter:image" content="")
	meta(name="twitter:url" content="")
	meta(property="og:site_name" content="ágora")
	meta(property="twitter:description" content="Descubre el próximo concierto cerca de ti o los horarios de la obra a la que deseas asistir; crea el espacio para el evento que organizas y que todos lo vean.")
	
	// 
		//////////////////////////////////////////////////////
		ágora ~ Todos los Eventos, un mismo Lugar
		Diseño y Desarrollo by kalollero Marro.on 
    
		Website:    http://agoraink.com
		Email:      agoraink@outlook.com
		Facebook:   https://www.facebook.com/agoraink
		//////////////////////////////////////////////////////

	title ágora | Descubre el próximo concierto cerca de ti o los horarios de la obra a la que deseas asistir; crea el espacio para el evento que organizas y que todos lo vean
	
	//Icono Pestaña
	link(rel="icon" type="image/png" href="images/icon.png")
	
	//Icon Font
	link(href="font/styles.css" rel="stylesheet")
	
	//Roboto Font
	link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet")

	//Normalize
	link(href="css/normalize.css" rel="stylesheet")

	//Agora Style
	link(rel="stylesheet" href="css/agora.css")

	

body

	//Modal Crear
	div.modal__contenedor.modal__displayNone
		button.modal__cerrar#cerrar: i.icon-cerrar
		embed.modal__index(src="modalCrear.html")


	//Barra de Navegación
	nav.menuNavegacion
		div.menuNavegacion__home
			a(href="index.html"): i.icon-a-logo.icono--menu

		a.menuNavegacion__filtrar(title="Disponible en breve"): i#filtar.icon-filtrar.icon--bloqueado
		a.menuNavegacion__hemeroteca(title="Disponible en breve"): i#hemeroteca.icon-hemeroteca.icon--bloqueado
		a.menuNavegacion__sedes(title="Disponible en breve"): i#sedes.icon-sedes.icon--bloqueado
		a.menuNavegacion__crear(role="button"): i#crear.icon-crear.icono--menu

		div.menuNavegacion__botonMenu
			a(href="#nav" aria-label="Open Navigation")
				div.botonMenu#botonMenu 
					span.top
					span.middle
					span.bottom

	div#nav.menuNavegacionExtendida
		
		div.menuNavegacionExtendida__logo
			img.imagen-fluida(src="images/agora_logo_blanco.svg")

		a.menuNavegacionExtendida__filtrar(title="Disponible en breve")
			p.menuNavegacionExtendida__texto#filtar_ex Filtrar

		a.menuNavegacionExtendida__hemeroteca(title="Disponible en breve")
			p.menuNavegacionExtendida__texto#hemeroteca_ex Hemeroteca

		a.menuNavegacionExtendida__sedes(title="Disponible en breve")
			p.menuNavegacionExtendida__texto#sedes_ex Sedes

		a.menuNavegacionExtendida__crear
			p.menuNavegacionExtendida__texto#crear_ex Crear

		div.menuNavegacionExtendida__linea
			
		a.menuNavegacionExtendida__faseBeta(href="landingPage.html")
			p.menuNavegacionExtendida__texto#acerca_ex Acerca de ágora

		
	//Back
	a.back(href="#inicio"): i.icon-back.icono--menu

	//Contenedor Tarjetas
	div.contenedorTarjetasEventos
		
		//- para histor
		//- p.fechaColumnaTarjetas 15 de Septiembre 2017
		div.columnaTarjetas
				
		//Tarjeta
			div.tarjeta
				div.tarjeta__contenedor
					p.tarjeta__fechaEvento 7 Jul 2017
					div.tarjeta__tipoEvento(title="Teatro"): i.icon-a-logo
					img.tarjeta__imagenEvento.imagen-fluida(src="images/explorar.jpg")
					div.tarjeta__linea
						div
					p.tarjeta__nombreEvento Programa Nacional de Teatro Escolar Veracruz 2017 CAMBIO
					p.tarjeta__sedeEvento ágora de la Ciudad
					div.tarjeta__redesEvento
						i.icon-a-logo
						

	script(src="js/jquery-3.2.1.min.js")

	script(type='text/javascript').
	
		$(document).ready(function(){
			$('#botonMenu').click(function(){
				$(this).toggleClass('active');
				$('#nav').toggleClass('nav--activo');
				$('.menuNavegacion__sedes, .menuNavegacion__filtrar, .menuNavegacion__hemeroteca, .menuNavegacion__crear').toggleClass('displayVisible');
			});
			

			$('#crear, #crear_ex').click(function(){
			  	$('.modal__contenedor').removeClass('modal__displayNone');
			  	$('body').addClass('modal__activo');
			});

			$('#cerrar').click(function(){
			 	$('.modal__contenedor').addClass('modal__displayNone');
			  	$('body').removeAttr('class');
			});

			var menuNavegacionExtendida = $('#sedes, #sedes_ex, #filtar, #filtar_ex, #hemeroteca, #hemeroteca_ex, #crear, #crear_ex, #acerca_ex');
			
			$(menuNavegacionExtendida).click(function(){
				$('#botonMenu').toggleClass('active');
				$('#nav').toggleClass('nav--activo');
				$('.menuNavegacion__sedes, .menuNavegacion__filtrar, .menuNavegacion__hemeroteca, .menuNavegacion__crear').toggleClass('displayVisible');
			});
		});