<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="description" content="agora")
	meta(name="keywords" content="agora")
	meta(name="author" content="agora ink")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	
	//Facebook and Twitter
	meta(property="og:title" content="ágora")
	meta(property="og:image" content="")
	meta(property="og:url" content="")
	meta(property="og:site_name" content="ágora")
	meta(property="og:description" content="Descubre el próximo concierto cerca de ti o los horarios de la obra a la que deseas asistir; crea el espacio para el evento que organizas y que todos lo vean.")
	meta(name="twitter:title" content="ágora")
	meta(name="twitter:image" content="")
	meta(name="twitter:url" content="")
	meta(property="og:site_name" content="ágora")
	meta(property="twitter:description" content="Descubre el próximo concierto cerca de ti o los horarios de la obra a la que deseas asistir; crea el espacio para el evento que organizas y que todos lo vean.")
	
	// 
		//////////////////////////////////////////////////////
		ágora ~ Todos los Eventos, un mismo Lugar
		Diseño y Desarrollo by kalollero Marro.on 
    
		Website:    http://agoraink.com
		Email:      agoreando@outlook.com
		Facebook:   https://www.facebook.com/agoraink
		//////////////////////////////////////////////////////

	title ágora | Descubre el próximo concierto cerca de ti o los horarios de la obra a la que deseas asistir; crea el espacio para el evento que organizas y que todos lo vean
	
	//Icono Pestaña
	link(rel="icon" type="image/png" href="images/icon.png")
	
	//Icon Font
	link(href="https://file.myfontastic.com/q2AGPeQ9fwKP9wnDdWcPfW/icons.css" rel="stylesheet")

	//Normalize
	link(href="css/normalize.css" rel="stylesheet")

	//Landing Page
	link(rel="stylesheet" href="css/agora-landingPage.css")



body
	
	//Barra de Navegación
	nav.menuNavegacionVertical
		div.menuNavegacion__home
			a(href="index.html"): i.icon-a.icono--menu
		div.menuNavegacionVertical__items
			ul.menuNavegacionVertical--ul
				li: a(href="#alfa"): i.icon-alfa.icono--menu
				li: a(href="#alfa"): img.icono--menu(src="images/alfa.svg")
				li: a(href="#descubre"): img.icono--menu(src="images/descubre.svg")
				li: a(href="#explora"): img.icono--menu(src="images/explorar.svg")
				li: a(href="#comunica"): img.icono--menu(src="images/com.svg")
				li: a(href="#crea"): img.icono--menu(src="images/crea.svg")
				li: a(href="#facebook"): i.icon-facebook.icono--menu
				li: a(href="#gotoAgora"): img.icono--menu(src="images/go.svg")
				li: a(href="#equipo"): img.icono--menu(src="images/equipo.svg")
		div.menuNavegacionVertical__back
			a(href="#inicio"): img.icono--back(src="images/back.svg")

	nav.menuNavegacionApaisado
		div: i.icon-a
		div: i.icon-menu

	//SECCIÓN INICIO 
	section#inicio.inicio.flexBox__Row
		div.inicio__imagen.moduloIzq
		div.inicio__informacion.moduloDer
			h1.inicio--titulo Descubre.
			h1.inicio--titulo 	
				| Comunica 
				span.weight300 tu 
				| Evento.
			p.inicio--texto.weight300
				strong Encuentra 
				| el próximo concierto 
				strong cerca de ti 
				| o los 
				strong horarios 
				| de la obra a la que deseas asistir; 
				strong crea 
				| el espacio para el evento que organizas y has que 
				strong todos lo vean.
			div.linea
			a.boton.naranja(href="#") Explorar

	//SECCIÓN ágora
	section#agora.agora.flexBox__Column
		img.agora--imagen.imagen-fluida(src="images/agora.svg")
		h1.agora--texto.ahuesado.weight100 
			| ágora 
			| es la 
			strong plataforma 
			| enfocada en 
			strong difundir 
			| los eventos de manera 
			strong gratuita, 
			| mostrándole un 
			strong catálogo 
			| a los usuarios de todas las 
			strong actividades culturales 
			| que suceden a su 
			strong alrededor

	//SECCIÓN ALFA
	section#alfa.flexBox__Row.alfa
		div
			h4 Fase Alfa +

	//SECCIÓN DESCUBRE
	section#descubre.descubre.flexBox__Row
		div.descubre__info.moduloIzq
			h2.nombre--seccion Descubre
			p.informacion--seccion ágora te muestra las actividades culturales y de entretenimiento a realizarse, dejando atrás la forma aburrida de buscar entre carteleras con eventos atrasados.
		div.descubre__imagen.moduloDer

	//SECCIÓN EXPLORA
	section#explora.explora.flexBox__Row
		div.explora__imagen.moduloIzq
		div.explora__info.moduloDer
			h2.nombre--seccion 
				| Explora
				sup: i.icon-info
			p.subNombre--seccion: em Tres modos de exploración

			div
				p.items--seccion.icon-buscar Buscar 
				p.informacion--seccion Encuentra eventos mediante la barra de búsqueda utilizando palabras claves, perfecto para cuando buscas algo específico.
			
			div
				p.items--seccion.icon-categorias Categorías
				p.informacion--seccion Funciona como un índice general para navegar entre los tipos de eventos y encontrar así lo que buscas.
			
			div
				p.items--seccion.icon-fecha Ciudad y Fecha
				p.informacion--seccion Muestra los eventos filtrados por la localización (ciudad, sede) y fecha en que se realizan.
		
	//SECCIÓN COMUNICA
	section#comunica.comunica.flexBox__Row
		div.comunica__info.moduloIzq 
			h2.nombre--seccion Comunica
			p.informacion--seccion Diseñamos el espacio estupendo para tú evento, enfocando ágora para ofrecerte una plataforma especializada en difundir tu evento, en la cual podrás conectar con tus próximos asistentes.
		div.comunica__imagen.moduloDer

	//SECCIÓN CREA
	section#crea.crea.flexBox__Row
		div.crea__imagen.moduloIzq
		div.crea__info.moduloDer
			h2.nombre--seccion 
				| Crea
				sup: i.icon-info
			p.informacion--seccion La plataforma está dirigida para todos los eventos, por eso utiliza una interfaz intuitiva que permite crear un nuevo evento, modificar su información, cancelar o eliminar y notificarlo a los usuarios.
			p.informacion--seccion Así los organizadores tienen la libertad de subir a la plataforma todos sus eventos sin restricción alguna en cantidad o información.

	//SECCIÓN FACEBOOK
	section.seccion#facebook.facebook
		div.facebook__titulo
			div.moduloIzq
				h2.nombre--seccion
					span.small Integra
					strong  ágora 
					span.small a tu
				h2.nombre--seccion
					strong Página
					span.small de
					strong  Facebook
			div.moduloDer
		div.flexBox.facebook__intro
			div.moduloIzq
				p 
					span ágora 
					|crea para ti una nueva sección en tu página de Facebook, así los Usuarios pueden navegar fácilmente a través de tus eventos.
			div.moduloDer

		div.flexBox.facebook__info
			div.moduloIzq
			div.moduloDer
				p Una Plataforma Diseñada para ti.
				p Conéctate y comunícale tu evento a miles de millones de usuarios.
				p Nunca había sido tan fácil destacar eventos en Facebook.
			
	//SECCIÓN go to ágora
	section#gotoAgora.goToAgora.flexBox__Column
		img.agora--imagen.imagen-fluida(src="images/agora.svg")
		div(href="#").boton.blanco Explorar

	//SECCIÓN EQUIPO
	section#equipo.equipo.flexBox__Row
		div.equipo__perfil
			div.equipo__imagen
			h3.weight300 Ramsés
			p.weight300 Reseña
			div.equipo__tags
				div.tag Phyton
				div.tag Data Base

		div.equipo__perfil
			div.equipo__imagen
			h3.weight300 Ingrid
			p.weight300 Reseña
			div.equipo__tags
				div.tag Public Relation
				div.tag Comunnity Manager

		div.equipo__perfil
			div.equipo__imagen
			h3.weight300 Kalollero
			p.weight300 Loco, Gitano, Soñador & Startopero; con estudios en Imagología y Diseño. Un publicista art nouvo de épocas contemporaneas, experto en Vampiras Modernas.
			div.equipo__tags
				div.tag UX Desing
				div.tag HTML
				div.tag FrontEnd
				div.tag CSS
				div.tag Advertising
				div.tag JavaScript
				div.tag Desing
				div.tag Prototyping
				div.tag UI Desing

	//SECCIÓN PIE
	section.pie
		p.pie__dReservados 
			| 2017 
			i.icon-registrado
		div.pie__logo ágora
		i.pie__redesSociales.icon-facebook

	//div
		div
			div.cubo(style="background-color:rgba(0, 7, 36, 1)") navy
			div.cubo(style="background-color:#e62117") anaranjado
			div.cubo(style="background-color:rgba(255, 255, 255, 1)") blanco
			div.cubo(style="background-color:rgba(242, 243, 248, 1)") ahuesado
			div.cubo(style="background-color:rgba(237, 239, 244, 1)") marfil
			div.cubo(style="background-color:rgba(224, 224, 224, 1)") claro
			div.cubo(style="background-color:rgba(129, 129, 129, 1)") tenue
			div.cubo(style="background-color:rgba(101, 101, 101, 1)") gris
			div.cubo(style="background-color:rgba(96, 96, 96, 1)") 1
			div.cubo(style="background-color:rgba(59, 59, 59, 1)") 2
			div.cubo(style="background-color:rgba(38, 38, 38, 1)") oxford
			div.cubo(style="background-color:rgba(23, 23, 23, 1)") profundo

