html
head
	meta(charset="UTF-8")
	title Document

	//Normalize
	link(href="css/normalize.css" rel="stylesheet")

	//Style modal
	link(rel="stylesheet" href="css/grid.css")
body
	.contenedor__modal
		.imagenEvento__modal
			p imagen
		.informacionEvento__modal
			p info
	
