<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="description" content="agora")
	meta(name="keywords" content="agora")
	meta(name="author" content="agora ink")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	
	//Facebook and Twitter
	meta(property="og:title" content="ágora")
	meta(property="og:image" content="")
	meta(property="og:url" content="")
	meta(property="og:site_name" content="ágora")
	meta(property="og:description" content="Descubre el próximo concierto cerca de ti o los horarios de la obra a la que deseas asistir; crea el espacio para el evento que organizas y que todos lo vean.")
	meta(name="twitter:title" content="ágora")
	meta(name="twitter:image" content="")
	meta(name="twitter:url" content="")
	meta(property="og:site_name" content="ágora")
	meta(property="twitter:description" content="Descubre el próximo concierto cerca de ti o los horarios de la obra a la que deseas asistir; crea el espacio para el evento que organizas y que todos lo vean.")
	
	// 
		//////////////////////////////////////////////////////
		ágora ~ Todos los Eventos, un mismo Lugar
		Diseño y Desarrollo by kalollero Marro.on 
    
		Website:    http://agoraink.com
		Email:      agoraink@outlook.com
		Facebook:   https://www.facebook.com/agoraink
		//////////////////////////////////////////////////////

	title ágora | Descubre el próximo concierto cerca de ti o los horarios de la obra a la que deseas asistir; crea el espacio para el evento que organizas y que todos lo vean
	
	//Icono Pestaña
	link(rel="icon" type="image/png" href="images/icon.png")
	
	//Icon Font
	link(href="https://file.myfontastic.com/q2AGPeQ9fwKP9wnDdWcPfW/icons.css" rel="stylesheet")
	
	//Roboto Font
	link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet")

	//Normalize
	link(href="css/normalize.css" rel="stylesheet")

	//Agora Style
	link(rel="stylesheet" href="css/agora-style.css")

	//Agora Media Queris
	link(rel="stylesheet" href="css/agora-mediaQueries.css")

	

body#inicio

	//Barra de Navegación
	nav.menuNavegacion
		div.menuNavegacion__home
			a(href="index.html"): i.icon-info.icono--menu

		a.menuNavegacion--logo(href=""): p ágora
		a.item__buscar(href=""): i.icon-info
		a.item__filtrar(href=""): i.icon-info
		a.item__historial(href=""): i.icon-info
		a.item__crear(href=""): i.icon-info

		div.menuNavegacion__botonMenu
			a(href="#nav" aria-label="Open Navigation")
				div.botonMenu#botonMenu 
					span.top
					span.middle
					span.bottom

	div#nav.menuNavegacion__Extendida
		
		div.menuNavExtendida__logo ágora

		a.itemNavExtendida__buscar(href="")
			i.iconNavExtendida.icon-info
			p Buscar

		a.itemNavExtendida__filtrar(href="")
			i.iconNavExtendida.icon-info
			p Filtrar

		a.itemNavExtendida__historial(href="")
			i.iconNavExtendida.icon-info
			p Historial

		a.itemNavExtendida__crear(href="")
			i.iconNavExtendida.icon-info
			p Crear


		div.menuNavExtendida--faseBeta
			i.iconNavExtendida.icon-info
			a(href="") Fase Beta

		
	//Back
	a.back.flexRow(href="#inicio"): i.icon-back.icono--menu

	//Contenedor Tarjetas
	div.contenedorTarjetasEventos
		
		p.fechaColumnaTarjetas 15 de Septiembre 2017
		div.columnaTarjetas
			//Tarjeta
			div.tarjeta
				div.tarjeta__contenedor
					p.fechaEvento 7 Jul 2017
					div.iconoTipo--tarjeta(title="Teatro")
						i.icon-info
					img.imagenEvento.imagen-fluida(src="images/2.jpg")
					p.nombreEvento Programa Nacional de Teatro Escolar Veracruz 2017
					p.sedeEvento ágora de la Ciudad
					div.organizadorEvento Instituto Veracruzano de Cultura | IVEC
					div.iconoRedes--tarjeta
						i.icon-facebook
			
			//eventos de relleno
			div.tarjeta
				div.tarjeta__contenedor
					p.fechaEvento 4 octubre 2016 &middot; 16:00	
					div.iconoTipo--tarjeta(title="Visita Guiada")
					p.nombreEvento Fotografía y Literatura: De la Imagen a la Escritura	
					p.sedeEvento Ágora de la Ciudad	
					div.organizadorEvento Ágora de la Ciudad
					div.iconoRedes--tarjeta
						i.icon-facebook
			div.tarjeta
				div.tarjeta__contenedor
					p.fechaEvento 11 octubre 2016 &middot; 16:00	
					div.iconoTipo--tarjeta(title="Visita Guiada")
					p.nombreEvento Fotografía y Literatura: De la Imagen a la Escritura	
					p.sedeEvento Ágora de la Ciudad	
					div.organizadorEvento Ágora de la Ciudad
					div.iconoRedes--tarjeta
						i.icon-facebook
			div.tarjeta
				div.tarjeta__contenedor
					p.fechaEvento 18 octubre 2016 &middot; 16:00	
					div.iconoTipo--tarjeta(title="Visita Guiada")
					p.nombreEvento Fotografía y Literatura: De la Imagen a la Escritura	
					p.sedeEvento Ágora de la Ciudad	
					div.organizadorEvento Ágora de la Ciudad
					div.iconoRedes--tarjeta
						i.icon-facebook
			div.tarjeta
				div.tarjeta__contenedor
					p.fechaEvento 5 octubre 2016 &middot; 19:00	
					div.iconoTipo--tarjeta(title="Concierto")
					p.nombreEvento Mi Casio, Mi Ciudad	
					p.sedeEvento Casino Xalapeño	
					div.organizadorEvento Universidad Veracruzana
					div.iconoRedes--tarjeta
						i.icon-facebook
			div.tarjeta
				div.tarjeta__contenedor
					p.fechaEvento 28 octubre 2016 &middot; 18:00	
					div.iconoTipo--tarjeta(title="Convocatoria")
					p.nombreEvento 1er Gran Desfile y Concurso de Catrinas
					p.sedeEvento Panteón 5 de Febrero - Parque Juárez	
					div.organizadorEvento H. Ayuntamiento de Xalapa
					div.iconoRedes--tarjeta
						i.icon-facebook
			div.tarjeta
				div.tarjeta__contenedor
					p.fechaEvento 1 octubre 2016 &middot; 12:00	
					div.iconoTipo--tarjeta(title="Ciclo de Cine")
					p.nombreEvento Matiné Infantil. Ciclo Hayao Miyasaki
					p.sedeEvento Galería de Arte Contemporáneo de Xalapa | Auditorio	
					div.organizadorEvento Galería de Arte Contemporáneo de Xalapa
					div.iconoRedes--tarjeta
						i.icon-facebook
			div.tarjeta
				div.tarjeta__contenedor
					p.fechaEvento 8 octubre 2016 &middot; 12:00	
					div.iconoTipo--tarjeta(title="Ciclo de Cine")
					p.nombreEvento Matiné Infantil. Ciclo Hayao Miyasaki
					p.sedeEvento Galería de Arte Contemporáneo de Xalapa | Auditorio	
					div.organizadorEvento Galería de Arte Contemporáneo de Xalapa
					div.iconoRedes--tarjeta
						i.icon-facebook
			div.tarjeta
				div.tarjeta__contenedor
					p.fechaEvento 15 octubre 2016 &middot; 12:00	
					div.iconoTipo--tarjeta(title="Ciclo de Cine")
					p.nombreEvento Matiné Infantil. Ciclo Hayao Miyasaki
					p.sedeEvento Galería de Arte Contemporáneo de Xalapa | Auditorio	
					div.organizadorEvento Galería de Arte Contemporáneo de Xalapa
					div.iconoRedes--tarjeta
						i.icon-facebook
			div.tarjeta
				div.tarjeta__contenedor
					p.fechaEvento 22 octubre 2016 &middot; 12:00	
					div.iconoTipo--tarjeta(title="Ciclo de Cine")
					p.nombreEvento Matiné Infantil. Ciclo Hayao Miyasaki
					p.sedeEvento Galería de Arte Contemporáneo de Xalapa | Auditorio	
					div.organizadorEvento Galería de Arte Contemporáneo de Xalapa
					div.iconoRedes--tarjeta
						i.icon-facebook
			div.tarjeta
				div.tarjeta__contenedor
					p.fechaEvento 13 octubre 2016 &middot; 20:30	
					div.iconoTipo--tarjeta(title="Teatro")
					p.nombreEvento Muestra Estatal de Teatro Indígena	
					p.sedeEvento Sala Dagoberto Guillaumin, Teatro del Estado
					div.iconoRedes--tarjeta
						i.icon-facebook
			div.tarjeta
				div.tarjeta__contenedor
					p.fechaEvento 13 octubre 2016 &middot; 19:30	
					div.iconoTipo--tarjeta(title="Teatro")
					p.nombreEvento Muestra Estatal de Teatro Indígena	
					p.sedeEvento Sala Dagoberto Guillaumin, Teatro del Estado
					div.iconoRedes--tarjeta
						i.icon-facebook
			div.tarjeta
				div.tarjeta__contenedor
					p.fechaEvento 14 octubre 2016 &middot; 20:30	
					div.iconoTipo--tarjeta(title="Teatro")
					p.nombreEvento Muestra Estatal de Teatro Indígena	
					p.sedeEvento Sala Dagoberto Guillaumin, Teatro del Estado
					div.iconoRedes--tarjeta
						i.icon-facebook
			div.tarjeta
				div.tarjeta__contenedor
					p.fechaEvento 14 octubre 2016 &middot; 19:30	
					div.iconoTipo--tarjeta(title="Teatro")
					p.nombreEvento Muestra Estatal de Teatro Indígena	
					p.sedeEvento Sala Dagoberto Guillaumin, Teatro del Estado
					div.iconoRedes--tarjeta
						i.icon-facebook
			div.tarjeta
				div.tarjeta__contenedor
					p.fechaEvento 14 octubre 2016 &middot; 19:00	
					div.iconoTipo--tarjeta(title="Teatro")
					p.nombreEvento Muestra Estatal de Teatro Indígena	
					p.sedeEvento Sala Dagoberto Guillaumin, Teatro del Estado
					div.iconoRedes--tarjeta
						i.icon-facebook
			div.tarjeta
				div.tarjeta__contenedor
					p.fechaEvento 26 septiembre 2016		
					div.iconoTipo--tarjeta(title="Convocatoria")
					p.nombreEvento LUNETA	
					p.sedeEvento Ágora de la Ciudad
					div.iconoRedes--tarjeta
						i.icon-facebook
		
		

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

	script(src="js/jquery-3.2.1.slim.min.js")

	script(type='text/javascript').

		$('#botonMenu').click(function(){
			$(this).toggleClass('active');
			$('#nav').toggleClass('nav--activo');
			$('.item__buscar, .item__filtrar, .item__historial, .item__crear').toggleClass('item__oculto');
		});

		$('#banner__enviaTuEvento').click(function(){
		  	$('#modal__enviaTuEvento').removeClass('displayNone').addClass('modal__enviaTuEvento');
		  	$('body').addClass('modal-active');
		});

		$('#cerrar__bannerEnviaTuEvento').click(function(){
		 	$('#modal__enviaTuEvento').removeClass('modal__enviaTuEvento').addClass('displayNone');
		  	$('body').removeAttr('class');
		});