<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="description" content="agora")
	meta(name="keywords" content="agora")
	meta(name="author" content="agora ink")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	
	//Facebook and Twitter
	meta(property="og:title" content="ágora")
	meta(property="og:image" content="")
	meta(property="og:url" content="")
	meta(property="og:site_name" content="ágora")
	meta(property="og:description" content="Descubre el próximo concierto cerca de ti o los horarios de la obra a la que deseas asistir; crea el espacio para el evento que organizas y que todos lo vean.")
	meta(name="twitter:title" content="ágora")
	meta(name="twitter:image" content="")
	meta(name="twitter:url" content="")
	meta(property="og:site_name" content="ágora")
	meta(property="twitter:description" content="Descubre el próximo concierto cerca de ti o los horarios de la obra a la que deseas asistir; crea el espacio para el evento que organizas y que todos lo vean.")
	
	// 
		//////////////////////////////////////////////////////
		ágora ~ Todos los Eventos, un mismo Lugar
		Diseño y Desarrollo by kalollero Marro.on 
    
		Website:    http://agoraink.com
		Email:      agoraink@outlook.com
		Facebook:   https://www.facebook.com/agoraink
		//////////////////////////////////////////////////////

	title ágora | Descubre el próximo concierto cerca de ti o los horarios de la obra a la que deseas asistir; crea el espacio para el evento que organizas y que todos lo vean
	
	//Icono Pestaña
	link(rel="icon" type="image/png" href="images/icon.png")
	
	//Icon Font
	link(href="https://file.myfontastic.com/q2AGPeQ9fwKP9wnDdWcPfW/icons.css" rel="stylesheet")
	
	//Roboto Font
	link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet")

	//Normalize
	link(href="css/normalize.css" rel="stylesheet")

	//Agora Style
	link(rel="stylesheet" href="css/agora-style.css")

	//Agora Media Queris
	link(rel="stylesheet" href="css/agora-mediaQueries.css")

	

body#inicio

	//Barra de Navegación
	nav.menuNavegacion
		div.menuNavegacion__home
			a(href="index.html"): i.icon-info.icono--menu

		div.menuNavegacion__items
			ul.menuNavegacion--ul
				li: a(href="#"): i.icon-descubre.icono--menu
				li: a(href="#"): i.icon-explora.icono--menu
				li: a(href="#"): i.icon-comunica.icono--menu
				li: a(href="#"): i.icon-beta.icono--menu
				li: a(href="#"): i.icon-a.icono--menu

		div.menuNavegacion__botonMenu
			div.botonMenu#botonMenu 
				span.top
				span.middle
				span.bottom

	div.menuNavegacion__Extendida
		div.menuNavegacion__home
			a(href="index.html"): i.icon-info.icono--menu
		div.menuNavegacion__items
			ul.menuNavegacion--ul
				li: a(href="#"): i.icon-descubre.icono--menu Buscar
				li: a(href="#"): i.icon-explora.icono--menu Filtro
				li: a(href="#"): i.icon-comunica.icono--menu Biblioteca
				li: a(href="#"): i.icon-beta.icono--menu Fase Alfa

		div.menuNavegacionVertical__Terminos
				a(href="agora_LandingPage.html") Términos & Condiciones



	//Modal 	
	//Banner y Modal Subir Tu Evento
	div#modal__enviaTuEvento.displayNone
		button#cerrar__bannerEnviaTuEvento.cerrar
			i.icon-cerrar
		embed.modal__enviaTuEvento(src="subeTuEvento.html")
	
	
	button#banner__enviaTuEvento.banner__enviaTuEvento Conoce como subir tu Evento +
	
			
	//Back
	a.back.flexRow(href="#inicio"): i.icon-back.icono--menu

	//Contenedor Tarjetas
	div.contenedorTarjetasEventos
		div.columnaTarjetas
			
			//Tarjeta
			div.tarjeta
				div.tarjeta__contenedor
					div.tarjeta__imagen
						img.imagen__evento.imagen-fluida(src="images/1.jpg")

					div.tarjeta__informacion
						p.tipoEvento Convocatoria
						P.tituloEvento Programa Nacional de Teatro Escolar Veracruz 2017 
						p
							span.fechaEvento 7 Jul 2017
						div.organizadorEvento
							img.organizadorEvento__imgPerfil.imagen-fluida(src="images/luna.png")
							div.organizadorEvento__nombre Instituto Veracruzano de Cultura | IVEC

			div.tarjeta
				div.tarjeta__contenedor
					div.tarjeta__imagen
						img.imagen__evento.imagen-fluida(src="images/2.jpg")

					div.tarjeta__informacion
						p.tipoEvento Feria
						P.tituloEvento Feria Nacional del Libro Infantil y Juvenil 2017 
						p
							span.fechaEvento 21 Jul 2017
							small.punto &nbsp &middot &nbsp 
							span.horaEvento 10:00 hrs
						p.sedeEvento Colegio Preparatorio de Xalapa
						div.organizadorEvento
							img.organizadorEvento__imgPerfil.imagen-fluida(src="images/luna.png")
							div.organizadorEvento__nombre Instituto Veracruzano de Cultura | IVEC

			div.tarjeta
				div.tarjeta__contenedor
					div.tarjeta__imagen
						img.imagen__evento.imagen-fluida(src="images/3.jpg")

					div.tarjeta__informacion
						p.tipoEvento Curso
						P.tituloEvento Curso de verano en parque Natura
						p
							span.fechaEvento 17 Jul 2017
							small.punto &nbsp &middot &nbsp 
							span.horaEvento 9:00 hrs
						p.sedeEvento Parque Natura
						div.organizadorEvento
							img.organizadorEvento__imgPerfil.imagen-fluida(src="images/luna.png")
							div.organizadorEvento__nombre Candaana Viajes y Campamentos

			div.tarjeta
				div.tarjeta__contenedor
					div.tarjeta__imagen
						img.imagen__evento.imagen-fluida(src="images/4.jpg")

					div.tarjeta__informacion
						p.tipoEvento Curso
						P.tituloEvento Mis vacaciones en la Biblioteca
						p
							span.fechaEvento 24 Jul 2017
							small.punto &nbsp &middot &nbsp 
							span.horaEvento 8:00 hrs
						div.organizadorEvento
							img.organizadorEvento__imgPerfil.imagen-fluida(src="images/luna.png")
							div.organizadorEvento__nombre Dirección de Cultura, Educación y Deporte Xalapa

			div#tarjeta.tarjeta
				div.tarjeta__contenedor
					div.tarjeta__imagen
						img.imagen__evento.imagen-fluida(src="images/5.jpg")

					div.tarjeta__informacion
						p.tipoEvento Ciclo de Cine
						P.tituloEvento 62 Muestra Internacional de Cine
						p
							span.fechaEvento 24 Jul 2017
							small.punto &nbsp &middot &nbsp
							span.horaEvento 17:00 hrs
						p.sedeEvento Ágora de la Ciudad
						div.organizadorEvento
							img.organizadorEvento__imgPerfil.imagen-fluida(src="images/luna.png")
							div.organizadorEvento__nombre Instituto Veracruzano de Cultura | IVEC
	
	


	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

	script(src="js/jquery-3.2.1.slim.min.js")

	script(type='text/javascript').

		$('#botonMenu').click(function(){
			$(this).toggleClass('active');
			//- $('#menuOverlay').toggleClass('open');
			//- $('body').toggleClass('modal-active');
		});

		$('#banner__enviaTuEvento').click(function(){
		  	$('#modal__enviaTuEvento').removeClass('displayNone').addClass('modal__enviaTuEvento');
		  	$('body').addClass('modal-active');
		});

		$('#cerrar__bannerEnviaTuEvento').click(function(){
		 	$('#modal__enviaTuEvento').removeClass('modal__enviaTuEvento').addClass('displayNone');
		  	$('body').removeAttr('class');
		});