<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="description" content="agora")
	meta(name="keywords" content="agora")
	meta(name="author" content="agora ink")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	
	//Facebook and Twitter
	meta(property="og:title" content="ágora")
	meta(property="og:image" content="")
	meta(property="og:url" content="")
	meta(property="og:site_name" content="ágora")
	meta(property="og:description" content="Descubre el próximo concierto cerca de ti o los horarios de la obra a la que deseas asistir; crea el espacio para el evento que organizas y que todos lo vean.")
	meta(name="twitter:title" content="ágora")
	meta(name="twitter:image" content="")
	meta(name="twitter:url" content="")
	meta(property="og:site_name" content="ágora")
	meta(property="twitter:description" content="Descubre el próximo concierto cerca de ti o los horarios de la obra a la que deseas asistir; crea el espacio para el evento que organizas y que todos lo vean.")
	
	// 
		//////////////////////////////////////////////////////
		ágora ~ Todos los Eventos, un mismo Lugar
		Diseño y Desarrollo by kalollero Marro.on 
    
		Website:    http://agoraink.com
		Email:      agoraink@outlook.com
		Facebook:   https://www.facebook.com/agoraink
		//////////////////////////////////////////////////////

	title ágora | Modal
	
	//Icono Pestaña
	link(rel="icon" type="image/png" href="images/icon.png")
	
	//Icon Font
	link(href="https://file.myfontastic.com/q2AGPeQ9fwKP9wnDdWcPfW/icons.css" rel="stylesheet")

	//Normalize
	link(href="css/normalize.css" rel="stylesheet")

	//Style modal
	link(rel="stylesheet" href="css/agora-modal.css")

	//- //Agora FrameWork
	//- link(rel="stylesheet" href="css/agora-frameWork.css")

	//Agora Media Queris
	//- link(rel="stylesheet" href="css/agora-mediaQueries.css")

	//- //Style modal
	//- link(rel="stylesheet" href="css/grid.css")

	

body
	div.contenedor__modal
		div.imagenEvento__modal
			img.cartel__modal.imagen-fluida(src="images/5.jpg")
		div.informacionEvento__modal
			p.tipoEvento__modal Feria
			p.nombreEvento__modal Feria Nacional del Libro Infantil y Juvenil 2017
			p.fechaEvento__modal
				span 21 de Julio 2017
				span &nbsp al &nbsp
				span 30 de Julio 2017
			p.horaEvento__modal
				span 10:00 hrs
				span &nbsp a &nbsp
				span 20:00 hrs
			div.descripcionEvento__modal Descripción del Evento
			div.accesoEvento__modal Acceso Libre
			p.sedeEvento__modal Colegio Preparatorio de Xalapa
			p.direccionEvento__modal Dirección de la Sede
			p.ciudadEvento__modal Xalapa~Enríquez
			div.organizador__modal
				img.organizadorEventoImgPerfil__modal(src="images/luna.png")
				p.organizadorEventoNombre__modal Instituto Veracruzano de Cultura | IVEC
			div.redesSociales__modal
				a.tooltip-top(href="" data-tooltip="Tooltip Facebook"): i.icon-facebook.icono-modal
				a.tooltip-top(href="" data-tooltip="Tooltip Twitter"): i.icon-twitter.icono-modal
				a.tooltip-top(href="" data-tooltip="Tooltip Instagram"): i.icon-instagram.icono-modal
				a.tooltip-top(href="" data-tooltip="Tooltip Teléfono"): i.icon-telefono.icono-modal
				a.tooltip-top(href="" data-tooltip="Tooltip Dirección"): i.icon-direccion.icono-modal

		div.menu__imagenes
			div.compartir
				i.icon-compartir
			div
				i.anterior.icon-anterior
				i.siguiente.icon-siguiente