.menuNavegacion {
	display: flex;
	position: fixed;
	width: 100%;
	height: 3rem;
	padding: 0 1rem;
	justify-content: space-between;
	align-items: center;
	background-color: var(--blanco);
	color: var(--oxford);
	z-index: 9; 
	border-bottom: 1px solid var(--claro);
	top: 0;
	line-height: 1;


	&__home {
		display: flex;
		flex-flow: row;
		justify-content: flex-start;
		align-items: center;
		width: 50%;
		height: 100%;
		font-size: 1.5rem;	
	}

	&__eventos,
	&__filtrar, 
	&__hemeroteca, 
	&__crear,  {
		display: none;
	}


	&__botonMenu {
		width: 50%;
		height: 100%;
		display: flex;
		flex-flow: row;
		justify-content: flex-end;
		align-items: center;
	}
}


/* -------- Botón Menú --------*/
@import "_boton_menu.scss";

.icon-a-logo {
	color: var(--anaranjado);
}

.icono--menu  {
	color: var(--profundo);
	width: 100%;
}

.icono--menu:focus, 
.icono--menu:hover {
	color: var(--anaranjado);
	cursor: pointer;
}

.icon--bloqueado {
	color: var(--tenue);
}


@include md {

	.menuNavegacion {
		width: 3rem;
		height: 100vh;
		padding: 1rem 0;
		text-align: center;
		border-left: 1px var(--claro) solid;
		right: 0;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 30% 10% 10% 10% 10% 30%;
	
		&__home {
			grid-column: 1/2;
			grid-row: 1;
			flex-flow: column;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			height: 100%;
			font-size: 1.5rem;
			padding-top: 0.5rem;
		}

		&__eventos {
			grid-column: 1/2;
			grid-row: 2;
		}

		&__filtrar {
			grid-column: 1/2;
			grid-row: 3;
		}

		&__hemeroteca  {
			grid-column: 1/2;
			grid-row: 4;
		}

		&__crear  {
			grid-column: 1/2;
			grid-row: 5;
		}

		&__eventos,
		&__filtrar, 
		&__hemeroteca, 
		&__crear  {
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-content: center;
			width: 100%;
			height: 100%;
			color: var(--profundo);
			visibility: hidden;
		}

		&__botonMenu {
	    	grid-column: 1/2;
			grid-row: 6;
			display: flex;
			flex-flow: column;
			justify-content: flex-end;
			align-items: center;
			width: 100%;
			height: 100%;
	    }

	    .icon-a-logo {
			color: var(--profundo);
		}

	    .displayVisible {
			visibility: visible;
			transition: 2s;
		}
	}
}

