.modal {
    &__activo { //estilo para body
        overflow: hidden;
    } 

    &__contenedor {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 20;
        top: 0;
        right: 0;
        background-color: var(--profundoTransparente); 
        
        @include md {}

        @include lg {}
    }
    
    &__displayNone {
        display: none;
    }

    &__cerrar {
        position: fixed;
        top: 0rem;
        right: 0.5rem;
        z-index: 8;
        height: 2rem;
        color: var(-- blanco);
        border: transparent;
        border-radius: 0 0 4px 4px;
        cursor: pointer;
        background-color: transparent;

        @include sm {  
            width: 4rem;
            right: 0.5rem;
            top: 0.5rem;
            
        }

        @include md {
            right: 1rem;
            top: 0.5rem;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }

        @include lg {
            right: 1.5rem;
        }
    }
    
    &__index {
        width: 100%;
        height: 100%;
    }
}